/* add home page styles here */

/* MOBILE DEVICES: */
@media only screen and (min-width: 320px) {

    #app-name {
        width: 100%;
        padding-right: 5%;
        height: auto;
    }

    #pick-plants {
        background-color: var(--darker);
        color: var(--lighter);

    }

    #plant-info {
        color: var(--darker);
    }

    #social {
        display: flex;
        justify-content: center;
    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;
        background-color: var(--light);
        color: var(--lighter);
    }

    header {
        padding: 0;
    }

    h1 {
        font-size: 400%;
        margin: 0 auto;
    }

    h2 {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 500;
        font-size: 80%;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 200;
        max-width: 75%;
    }
        
    p {
        width: 100%;
        font-size: 5vw;
        margin-bottom: 5%;
    }

    button {
        margin: 3%;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 500;
        border: none;
        border-radius: 3px;
        padding: 5%;
        font-size: 75%;
        width: 70%;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 200;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
    }

}

@media only screen and (min-width: 600px) {
    * {
        border: 1px solid blue;
    }
}

  /* For desktop: */
@media only screen and (min-width: 768px) {
    * {
        border: 1px solid red;
    }
} 

