/* add pick-plant/... page styles here */

@media only screen and (min-width: 320px) {

    #app-name {
        width: 60%;
        padding-right: 5%;
    }

    #render-plants {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        background-color: var(--med);
        padding: 10px;
    }
    
    .plant-card {
        overflow-wrap: anywhere;
        width: 40%;
        font-family: 'Source Sans Pro', sans-serif;
        background-color: var(--lighter);
        border-radius: 20px;
    }
    
    .plant-card > h2 {
        color: var(--dark);
        font-size: 70%;
        font-weight: 700;
    }

    .plant-card > h3 {
        color: var(--dark);
        font-size: 80%;
        font-weight: 600;
    }
    
    body {
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;
        background-color: var(--light);
    }

    p {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 800;
        font-size: 5vw;
        margin-top: 0;
    }

    img {
        width: 70%;
        border: 3px solid var(--light);
        border-radius: 10px;
    }

    button {
        margin: auto;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
        border: none;
        border-radius: 3px;
        padding: 3%;
        font-size: 80%;
        width: 40%;
        background-color: var(--darker);
        color: var(--lighter);
        margin-bottom: 2%;
        margin-top: 5%;
    }

    footer > h2 {
        font-size: 80%;
    }
    
    label > h2 {
        font-size: 80%;
    }

    input[type=checkbox]:checked + img {
        border: 3px solid var(--dark);
        border-radius: 10%;
        background-color:white;
    }
}


@media only screen and (min-width: 600px) {
    * {
        border: 1px solid blue;
    }
}

  /* For desktop: */
@media only screen and (min-width: 768px) {
    * {
        border: 1px solid red;
    }

} 
