@media only screen and (min-width: 320px) { /* Smartphone styling */

    #app-name {
        width: 60%;
        padding-right: 5%;
        margin: 0;
    }

    #render-plants {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        background-color: var(--med);
        padding: 10px;
    }
    
    .plant-card {
        overflow-wrap: anywhere;
        width: 40%;
        font-family: 'Source Sans Pro', sans-serif;
        background-color: var(--lighter);
        border-radius: 20px;
    }
    
    label[name="click-card"] > h2 {
        color: var(--dark);
        font-size: 80%;
        font-weight: 600;
    }

    label[name="click-card"] > h3 {
        color: var(--dark);
        font-size: 90%;
        font-weight: 600;
    }

    label[name="click-card"] > img {
        width: 70%;
        border: 3px solid var(--light);
        border-radius: 10px;
    }

    input[type=checkbox]:checked + img {
        border: 5px solid var(--dark);
        border-radius: 10px;
        background-color:white;
    }
    
    body {
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;
        background-color: var(--light);
    }

    p {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 800;
        font-size: 5vw;
        margin-top: 0;
    }

    button {
        margin: 3%;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
        border: none;
        border-radius: 3px;
        padding: 3%;
        font-size: 75%;
        width: 30%;
        background-color: var(--darker);
        color: var(--lighter);
        margin-bottom: 4%;
        margin-top: 4%;
    }

    footer > h2 {
        font-size: 80%;
    }
}

@media only screen and (min-width: 768px) { /* Desktop/tablet styling */
    #app-name {
        max-width: 300px;
    }

    #render-plants {
        gap: 20px;
    }

    #social > img {
        max-width: 50px;
        padding: 0.3%;
    }

    .plant-card {
        width: 20%;
    }

    p {
        font-size: 150%;
        text-align: center;
    }

    button {
        font-size: 100%;
        width: 20%;
        padding: 1%;
        max-width: 210px;
        max-height: 80px;
        margin: 2%;
    }
} 
