/* add plant-info/... page styles here */

@media only screen and (min-width: 320px) {

    #app-name {
        width: 60%;
        padding-right: 5%;
        margin: 0;
    }

    .plant-card {
        margin: 5%;
        /* border: 10px solid var(--light); */
        border-radius: 10px;
    }
    
    .plant-card > h2 {
        color: var(--dark);
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 800;
        text-transform: capitalize;
    }
    
    body {
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;
        background-color: var(--lighter);
    }

    p {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 800;
        font-size: 5vw;
        margin-top: 0;
    }

    main {
        display: flex;
        flex-direction: column;
    }


    th, td {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 90%;
        color: var(--dark);
        text-align: left;
    }

    th {
        text-transform: capitalize;
        font-weight: 600;
        padding: 0.5%;
    }

    td {
        padding-left: 2%;
        font-weight: 400;
    }

    button {
        margin: auto;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
        border: none;
        border-radius: 3px;
        padding: 3%;
        font-size: 80%;
        width: 40%;
        background-color: var(--darker);
        color: var(--lighter);
        margin-bottom: 4%;
        margin-top: 4%;
    }

    img { 
        max-width: 70%;
        justify-self: center;
        border-radius: 20px;
        padding: 5%;
    }

    footer {
        padding-top: 8%;
    }

}

@media only screen and (min-width: 600px) {
    * {
        border: 1px solid blue;
    }
}

  /* For desktop: */
@media only screen and (min-width: 768px) {
    * {
        border: 1px solid red;
    }
} 