:root { 
    --lighter: #EFF1F3;
    --light: #74A27C;
    --med: #D8B4A0;
    --dark: #523C2C;
    --darker: #0D4315;

    --forest-green-crayola: #74a27cff;
    --forest-green-traditional: #0d4315ff;
    --cultured: #eff1f3ff;
    --cafe-noir: #523c2cff;
    --desert-sand: #d4b4a0ff;
}

body {
    text-align: center;
    width: 100%;
}

header {
    font-family: 'Fredoka One', cursive;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--light);
    color: var(--lighter);
}

button {
    margin: 3%;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    border: none;
    border-radius: 3px;
    padding: 5%;
    font-size: 75%;
    width: 80%;
}

footer {
    font-family: 'Fredoka One', cursive;
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: var(--light);
    color: var(--lighter);
}

footer > h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    font-size: 80%;
}

.hidden {
    display: none;
}

#social > img {
    max-width: 50px;
    width: 12%;
    padding: 1%;
    border-radius: 25%;
}